/* 2단메뉴 열기/닫기 2013-04-04 ---------------------------------------------------------------- */
.content_section .open_close {position:absolute; margin-top:13px;cursor:pointer;}
/* 2015-01-23 스프라이트이미지삭제 */
.content_section .open_close .btn_close {background: transparent url('/images/btn_menuopen.gif') 0 0 no-repeat; width:9px; height:36px; display:inline-block;}
.content_section .open_close .btn_open {background: transparent url('/images/btn_menuopen.gif') -9px 0 no-repeat; width:9px; height:36px; display:none;}

/* 페이지 큰타이틀 ------------------------------------- */
.content_section .title_area {background:#fff; border-bottom:1px solid #bac0c6; padding:15px 30px; overflow:hidden;}
/* 2015-01-23 스프라이트이미지삭제 */
.content_section .title_area .icon {background: transparent url('/images/bullet_title.png') 0 0 no-repeat; width:20px; height:26px; display:inline-block; float:left; margin:3px 10px 0 0;}
.content_section .title_area .title {color:#000; font-size:25px; float:left;}
.content_section .title_area .location {float:right; font-size:13px; color:#b3b3b3;}

/* 2013-08-01 추가 */
.content_section .sub_title {margin:10px 20px -15px 20px; overflow:hidden; }
/* 2015-01-23 스프라이트이미지삭제 */

.content_section .sub_title .icon {background: transparent url('/images/bullet_stitle.png') 0 0 no-repeat; width:20px; height:20px; display:inline-block; float:left; margin:5px 0 0 0;}

/*.content_section .sub_title .icon {background: transparent url('/images/bullet_stitle.png') -420px -220px no-repeat; width:20px; height:20px; display:inline-block; float:left; margin:3px 3px 0 0;}*/

.content_section .sub_title .title {float:left; font-size:17px; font-weight:bold;}

/* 페이지 큰타이틀 ------------------------------------- 
.content_section .title_area {background:#fff; border-bottom:1px solid #bac0c6; padding:15px 30px; overflow:hidden;}
.content_section .title_area .icon {background: transparent url(/images/adm_pack.png) -420px -160px no-repeat; width:20px; height:26px; display:inline-block; float:left; margin:3px 10px 0 0;}
.content_section .title_area .title {color:#000; font-size:25px; float:left;}
.content_section .title_area .location {float:right; font-size:13px; color:#b3b3b3;}
*/

/* 메인 추출 2013-05-09 -------------------------------------------------------------------------- */

.content_section .group_title {margin:0 2px 5px 0; overflow:hidden; }
/* 2015-01-23 스프라이트이미지삭제 */
.content_section .group_title .icon {background: transparent url('/images/bullet_stitle.png') 0 0 no-repeat; width:20px; height:20px; display:inline-block; float:left; margin:5px 0 0 0;}
.content_section .group_title .title {float:left; font-size:17px; font-weight:bold;}
.content_section .group_title .btn_area {float:right}

.content_section .main_box_area {width:980px; margin-bottom:20px; overflow:hidden;}

.content_section .main_box_area .last_TB {width:100%; border:2px solid #c1c1c1; background:#fff;}
.content_section .main_box_area .last_TB th {background:#ededed; color:#333; padding:5px; border-left:1px solid #d4d4d4;}
.content_section .main_box_area .last_TB td {border-bottom:1px solid #e1e1e1; vertical-align:middle; padding:4px; border-top:1px solid #d4d4d4; border-left:1px solid #d4d4d4; text-align:right;}
.content_section .main_box_area .last_TB td:first-child {background:#ededed; text-align:center;}
.content_section .main_box_area .last_TB td b {color:#009cff; font-family:tahoma; font-size:13px;}
.content_section .main_box_area .last_TB td .hit {color:#ff8a00;}

.content_section .main_box_area_wide {width:100%; margin-bottom:20px; overflow:hidden;}

.content_section .main_box_area_wide .last_TB {width:100%; border:2px solid #c1c1c1; background:#fff;}
.content_section .main_box_area_wide .last_TB th {background:#ededed; color:#333; padding:5px; border-left:1px solid #d4d4d4;}
.content_section .main_box_area_wide .last_TB td {border-bottom:1px solid #e1e1e1; vertical-align:middle; padding:4px; border-top:1px solid #d4d4d4; border-left:1px solid #d4d4d4; text-align:right;}
.content_section .main_box_area_wide .last_TB td:first-child {background:#ededed; text-align:center;}
.content_section .main_box_area_wide .last_TB td b {color:#009cff; font-family:tahoma; font-size:13px;}
.content_section .main_box_area_wide .last_TB td .hit {color:#ff8a00;}


.content_section .main_total_graph .bar_num {position:absolute; background:#000; height:17px; line-height:17px; font-family:tahoma; color:#fff; font-size:13px; padding:0 5px; left:0; top:0;}


.bar_num {z-index:100;display:none;position:absolute; background:#000; height:17px; line-height:17px; font-family:tahoma; color:#fff; font-size:13px; padding:0 5px; left:0; top:0;}

/* 메인그래프 2013-07-30 */
.content_section .main_total_graph {width:975px; height:180px; margin:20px 20px 20px 0px; overflow:hidden; border:2px solid #c1c1c1; background:#fff url(/images/graph_bg.gif) left top repeat-x; position:relative; } 

.content_section .main_total_graph .article {margin-right:15px; height:34px; overflow:hidden; float:right;}
.content_section .main_total_graph .article li {float:left; color:#333; margin-top:10px; font-size:13px; margin-left:20px;}

.content_section .main_total_graph .article .bar_black {display:inline-block; background:#43464f; width:20px; height:10px; margin-right:5px;}
.content_section .main_total_graph .article .bar_blue {display:inline-block; background:#6f96bd; width:20px; height:10px; margin-right:5px;}
.content_section .main_total_graph .article .bar_red {display:inline-block; background:#eb6d8d; width:20px; height:10px; margin-right:5px;}

.content_section .main_total_graph .graph_article {overflow:hidden; border-top:1px solid #41444d; }
.content_section .main_total_graph .graph_article li {width:25%; float:left; text-align:center; padding-top:7px; font-weight:bold;}

.content_section .main_total_graph .graph_box {overflow:hidden; position:relative; clear:both; height:115px; }

.content_section .main_total_graph .graph_box .bar_set {width:60px; overflow:hidden; position:absolute; height:115px; left:0; bottom:0;}
.content_section .main_total_graph .graph_box .bar_set li {width:33.3%; height:115px; float:left;}

.content_section .main_total_graph .graph_box .bar_set1 {margin-left:95px;}
.content_section .main_total_graph .graph_box .bar_set2 {margin-left:330px;}
.content_section .main_total_graph .graph_box .bar_set3 {margin-left:567px;}
.content_section .main_total_graph .graph_box .bar_set4 {margin-left:805px;}
.content_section .main_total_graph .graph_box .bar_set5 {margin-left:835px;}

.content_section .main_total_graph .graph_box .bar_black {display:inline-block; background:#43464f; width:13px; height:5px; bottom:0; position:absolute;}
.content_section .main_total_graph .graph_box .bar_blue {display:inline-block; background:#6f96bd; width:13px; height:5px; bottom:0; position:absolute;}
.content_section .main_total_graph .graph_box .bar_red {display:inline-block; background:#eb6d8d; width:13px; height:5px; bottom:0; position:absolute;}

/* 폼/검색영역박스 -------------------------------------  */
.content_section .form_box_area {border:2px solid #c1c1c1; background:#fff; margin:20px; padding:10px; overflow:hidden;}
.content_section .form_box_area .form_TB {width:100%;}
.content_section .form_box_area .form_TB td {border-bottom:1px solid #e1e1e1; vertical-align:middle; line-height:18px; }
.content_section .form_box_area .form_TB .article {padding:2px 10px; background:#f1f1f1; color:#000; font-size:13px;}
.content_section .form_box_area .form_TB .conts {padding:5px 10px;}
.content_section .form_box_area .form_TB .conts .star {display:block; background:transparent url(/images/default_shop/defalut_shop_pack.png) -610px -60px no-repeat; display:inline-block; width:57px; height:10px; }
.content_section .form_box_area .form_TB .conts .star_color {background:transparent url(/images/default_shop/defalut_shop_pack.png) -610px -80px no-repeat; display:inline-block; width:57px; height:10px; float:left;}

/* 2015-01-23 스프라이트이미지삭제 */
.content_section .form_box_area .form_TB .ic_ess {background: transparent url('/images/bullet_ess.png') 0 0 no-repeat; width:12px; height:10px; display:inline-block; margin-left:5px;}

.content_section .form_box_area .form_TB .multi {margin-right:20px;}
.content_section .form_box_area .form_TB .multi input {margin-right:3px;}

.content_section .form_box_area .form_TB .line {margin:3px 0;}
.content_section .form_box_area .form_TB .line input {margin-right:5px;}

/* 2013-08-01 수정 */
.content_section .form_box_area .form_TB .line {padding:5px 0; border-bottom:1px dashed #ccc}
.content_section .form_box_area .form_TB .line input {margin-right:5px;}

.content_section .input_text {border:1px solid #c1c1c1; height:20px; line-height:20px; padding:0 5px; color:#000;}
.content_section .input_textSmall {border:1px solid #c1c1c1; height:20px; line-height:20px; padding:0 5px; color:#000; font-size: 11px;}
.content_section .proName {border:1px solid #c1c1c1; height:28px; line-height:28px; padding:0 5px; color:#000; FONT-FAMILY: verdana; font-weight: bold; font-size: 17px;}
.content_section .textarea {border:1px solid #c1c1c1; padding:5px; color:#000;}
.content_section .select {border:1px solid #c1c1c1; padding:3px; color:#666;}
.content_section .form_box_area .form_TB td select {border:1px solid #c1c1c1; padding:3px; color:#333;}

.content_section .mobileName {border:1px solid #c1c1c1; float:left;height:28px; margin-right:10px;line-height:28px; padding:0 5px; color:#8f959a; FONT-FAMILY: verdana; font-weight: bold; font-size: 14px;}
.content_section .mobileName_st {border:1px solid #c1c1c1; float:left;height:28px; margin-right:10px;line-height:28px; padding:0 5px; color:#43464f; FONT-FAMILY: verdana; font-weight: bold; font-size: 14px;}


/* 리스트 자리잡기 */
.content_section .content_section_inner {margin:20px; overflow:hidden; }


/*  버튼영역 -------------------------------------  */
.content_section .bottom_btn_area {text-align:center; overflow:hidden; margin-bottom:50px;}
.content_section .top_btn_area {text-align:center; margin:10px 0; overflow:hidden;}
.content_section .ctr_btn_area {margin-bottom:5px; float:right;}
.content_section .ctl_btn_area {margin:5px 0px; float:left;}
.content_section .bottom_btn_area .lineup {display:inline-block;}
.content_section .bottom_btn_area .lineup .shop_btn_pack {margin:0 5px}


/* 리스트테이블 */
.content_section .list_TB {width:100%; border-top:2px solid #000; background:#fff;}
.content_section .list_TB th {color:#333; padding:10px; border-bottom:1px solid #c6c6c6; background:#d6d6d6; font-size:13px;}
.content_section .list_TB td {padding:5px; border-left:1px solid #c6c6c6; border-bottom:1px solid #c6c6c6; vertical-align:middle; text-align:center;}
.content_section .list_TB td:first-child {border-left:0;}
.content_section .list_TB tr:hover {background:#f6f6f6;}
.content_section .list_TB .left {text-align:left; padding-left:5px; }
.content_section .list_TB .none td {padding:5px; vertical-align:middle; text-align:center; border:0px solid #000;}

.content_section .listb_TB {width:100%; border-top:2px solid #000; background:#fff;}
.content_section .listb_TB td {padding:5px; height:25px;border-left:1px solid #c6c6c6; border-bottom:1px solid #c6c6c6; vertical-align:top; text-align:center;}
.content_section .listb_TB td:first-child {border-left:0;border-right:0;}
.content_section .listb_TB td:last-child {border-right:0;}

.content_section .listb_TB .left {text-align:left; padding-left:5px; }
.content_section .listb_TB .none td {padding:5px; vertical-align:top; text-align:center; border:0px solid #000;}




.content_section .listb_TB70 {width:83%; border-top:2px solid #000; background:#fff;float:left;}
.content_section .listb_TB70 td {padding:5px; height:25px;border-left:1px solid #c6c6c6; border-bottom:1px solid #c6c6c6; vertical-align:top; text-align:center;}
.content_section .listb_TB70 td:first-child {border-left:0;border-right:0;}
.content_section .listb_TB70 td:last-child {border-right:0;}

.content_section .listb_TB70 .left {text-align:left; padding-left:5px; }
.content_section .listb_TB70 .none td {padding:5px; vertical-align:top; text-align:center; border:0px solid #000;}


.content_section .listb_TB30 {width:16%; border-top:2px solid #000; background:#fff;border-left:10px solid #fff;}
/* .content_section .listb_TB30 {width:14%; border-top:2px solid #000; background:#fff;position:absolute;right:25px}*/

.content_section .listb_TB30 td {padding:5px; height:25px;border-left:1px solid #c6c6c6; border-bottom:1px solid #c6c6c6; vertical-align:top; text-align:center;}
.content_section .listb_TB30 td:first-child {border-left:0;border-right:0;}
.content_section .listb_TB30 td:last-child {border-right:0;}

.content_section .listb_TB30 .left {text-align:left; padding-left:5px; }
.content_section .listb_TB30 .none td {padding:5px; vertical-align:top; text-align:center; border:0px solid #000;}



/* 페이지네이트 ----------------------------- 2015-01-23 스프라이트이미지삭제 */
/*
.content_section .list_paginate {text-align:center; overflow:hidden; margin:20px 0 40px 0;}

.content_section .list_paginate .btn {display:inline-block; padding:0 5px;}
.content_section .list_paginate .btn a,
.content_section .list_paginate .btn span {background:transparent url('/images/paginate.gif') no-repeat; display:inline-block;}

.content_section .list_paginate .btn .first {background-position:0 0; width:29px; height:30px;}
.content_section .list_paginate .btn .first:hover {background-position:-118px 0; width:29px; height:30px;}
.content_section .list_paginate .btn .first_none {background-position:-236px 0; width:29px; height:30px;}

.content_section .list_paginate .btn .prev {background-position:-29px 0; width:30px; height:30px;}
.content_section .list_paginate .btn .prev:hover {background-position:-147px 0; width:30px; height:30px;}
.content_section .list_paginate .btn .prev_none {background-position:-265px 0; width:30px; height:30px;}

.content_section .list_paginate .btn .next {background-position:-59px 0; width:30px; height:30px;}
.content_section .list_paginate .btn .next:hover {background-position:-177px 0; width:30px; height:30px;}
.content_section .list_paginate .btn .next_none {background-position:-295px 0; width:30px; height:30px;}

.content_section .list_paginate .btn .last {background-position:-89px 0; width:29px; height:30px;}
.content_section .list_paginate .btn .last:hover {background-position:-207px 0; width:29px; height:30px;} 
.content_section .list_paginate .btn .last_none {background-position:-325px 0; width:29px; height:30px;}


.content_section .list_paginate .number {display:inline-block; vertical-align:top; }
.content_section .list_paginate .number a {line-height:29px; color:#333; font-family:tahoma; font-size:14px; font-weight:bold; padding:0 10px; border-left:1px solid #e2e4ea; display:inline-block}
.content_section .list_paginate .number a:hover {color:#ff0000;}
.content_section .list_paginate .number a:first-child {border:none;}
.content_section .list_paginate .number .hit {color:#ff3a00;}
*/
.lineup { display: inline-block; }
.list_paginate .btn span { display: inline-block;; }
.content_section .list_paginate {text-align:center; padding:30px 0 10px 0; overflow:hidden; position:relative; clear:both}
.content_section .list_paginate a {float:left;}
.content_section .list_paginate .nextprev {border-top:1px solid #dbdbdb; border-left:1px solid #dbdbdb; border-bottom:1px solid #b0b0b0; float:left;}
.content_section .list_paginate .nextprev .btn {float:left; position:relative;}
.content_section .list_paginate .nextprev .btn .ok {display:none;}
.content_section .list_paginate .nextprev .click .ok {display:block;}
.content_section .list_paginate .nextprev .click .no {display:none;}
.content_section .list_paginate .nextprev .ok {width:40px; height:35px; border-right:1px solid #dbdbdb;  background:#fff}
.content_section .list_paginate .nextprev .ok:hover {background:#f5f5f5;}
.content_section .list_paginate .nextprev .icon {background:transparent url('/pages/images/cm_images/paginate.png') no-repeat; width:20px; height:20px; position:absolute; top:50%; left:50%; margin:-10px 0 0 -10px}
.content_section .list_paginate .nextprev .no {width:40px; height:35px; border-right:1px solid #dbdbdb;  background:#fff}
.content_section .list_paginate .nextprev .ok .ic_first {background-position:0 0}
.content_section .list_paginate .nextprev .ok .ic_prev {background-position:-20px 0}
.content_section .list_paginate .nextprev .ok .ic_next {background-position:-40px 0}
.content_section .list_paginate .nextprev .ok .ic_last {background-position:-60px 0}
.content_section .list_paginate .nextprev .no .ic_first {background-position:0 -20px; }
.content_section .list_paginate .nextprev .no .ic_prev {background-position:-20px -20px}
.content_section .list_paginate .nextprev .no .ic_next {background-position:-40px -20px}
.content_section .list_paginate .nextprev .no .ic_last {background-position:-60px -20px}
.content_section .list_paginate .number {float:left; border-top:1px solid #dbdbdb; border-left:1px solid #dbdbdb; border-bottom:1px solid #b0b0b0; margin:0 15px;}
.content_section .list_paginate .number a {line-height:35px; color:#888; padding:0 15px; font-size:16px; font-family:"calibri" !important; border-right:1px solid #dbdbdb; background:#fff}
.content_section .list_paginate .number a:hover {text-decoration:underline; background:#f5f5f5}
.content_section .list_paginate .number .hit {color:#000;}
.content_section .list_paginate .btn_area {position:absolute; right:0;}

/* SMS 발송 ---------------------------------------------------------------- 2013-08-03 수정 */
.content_section .sms_sv_area {margin:40px 0 40px 40px; overflow:hidden;}
.content_section .sms_mobile {float:left; margin:0 30px 0 0;width:234px; height:420px; background: transparent url(/images/sms_mobile.png) left top no-repeat; position:relative;}
.content_section .sms_mobile .message {width:200px; height:210px; margin:68px 0 0 17px;}
.content_section .sms_mobile .message textarea {width:170px; height:180px; padding:10px 15px;  background:none; border:none; overflow-x:hidden; overflow-y:auto; line-height:20px; color:#000; font-size:14px; font-weight:bold;}
.content_section .sms_mobile .byte {text-align:center; color:#ff0000; font-family:tahoma; font-size:13px; margin-top:5px;}
.content_section .sms_mobile .from {text-align:center; margin-top:42px;}
.content_section .sms_mobile .from input {font-family:tahoma; text-align:center; padding:5px; width:150px; background:none; border:none; letter-spacing:1px; color:#000;}

.content_section .sms_send {float:left; width:284px; height:420px;  background: transparent url(/images/sms_send.png) left top no-repeat; position:relative;}

.content_section .sms_send .add_to {margin:46px 11px 0 25px}
.content_section .sms_send .add_to .phone_num {background:#fff; padding:10px; text-align:center;}
.content_section .sms_send .add_to .phone_num input {width:65px; height:25px; line-height:25px; color:#000; font-family:tahoma; font-size:13px; text-align:center; background: transparent url(/images/adm_pack.png) -420px -400px no-repeat; border:none;}
.content_section .sms_send .add_to .btn_add {width:100%; background:#44474a; border:none; color:#fff; font-size:13px; font-family:dotum; letter-spacing:-1px; height:25px; line-height:25px;}

.content_section .sms_send .add_list {margin:10px 11px 0 25px; background:#fff; padding:10px; overflow:hidden;}
.content_section .sms_send .add_list .list_bg {background: transparent url(/images/adm_pack.png) -420px -440px no-repeat; overflow:hidden;}
.content_section .sms_send .add_list .list_bg select {border:0; background:transparent; width:100%; height:95px; overflow-y:auto; font-family:dotum; color:#000;}
.content_section .sms_send .add_list .btn_area {overflow:hidden; margin-top:5px;}
.content_section .sms_send .add_list .btn_area input {float:left; width:80px; background:#8c8f93; border:none; color:#fff; font-size:13px; font-family:dotum; letter-spacing:-1px; height:20px; line-height:20px; }
.content_section .sms_send .add_list .btn_area .total {float:right}
.content_section .sms_send .add_list .btn_area .total span b {color:#ff4e00; font-size:13px;}

.content_section .sms_send .reserve {margin:8px 11px 0 25px; background:#fff; padding:10px;}
.content_section .sms_send .reserve .check {font-weight:bold; color:#ff4e00; margin-bottom:10px;}
.content_section .sms_send .reserve .date {margin-top:5px; color:#666}
.content_section .sms_send .reserve .date select {color:#000; font-family:tahoma; margin:0 2px; width:55px; border:1px solid #ccc;}

.content_section .sms_send .btn_send {margin:10px 11px 0 25px;}
.content_section .sms_send .btn_send input {border:none; width:100%; background: transparent url(/images/adm_pack.png) -420px -620px no-repeat; height:36px;}
