/* 하단 ---------------------------------------------------------------- */
.footer {
    z-index: 10;
    position: relative;
    width: 100%;
    height: 35px;
    border-top: 1px solid #262b35;
    background: #e4e4e4;
    border-top: 1px solid #c1c1c1;
    clear: both;
}

.footer .copyright {
    margin: 15px 0 0 10px;
}

.footer .gotop {
    position: absolute;
    right: 0;
    top: 0;
    margin: 6px 10px 0 0;
}

/* 2015-01-23 스프라이트이미지삭제 */
.footer .gotop .btn_gotop {
    background: transparent url('/images/btn_gotop.gif') 0 0 no-repeat;
    display: inline-block;
    width: 75px;
    height: 23px;
}
